body {
    background-color: #E0FFFF;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

p#Start {
    text-align: center;
}
