{% extends "layout.html" %}

{% block title %}You should...{% endblock %}

{% block content %}

<h1>Get Active</h1>
<h2>Here are some options:</h2>
<h3>Sports</h3>
<p>Grab some friends and play some classic sports:</p>
<ul>
    <li>Basketball</li>
    <li>Soccer</li>
    <li>Ultimate Frisbee</li>
    <li>Swimming</li>
    <li>Volleyball</li>
    <li>Tennis</li>
    <li>Capture the Flag</li>
    
</ul>
<h3>Outdoor Activities</h3>
<p>Here are some other stimulating activities you could try:</p>
<ul>
    <li>Stroll in the park</li>
    <li>Water balloon fight</li>
    <li>Nerf gun war</li>
    <li>Shaving cream Twister</li>
    
</ul>
<h3>Go to the Gym</h3>
<p>Get in a good workout with any of the following:</p>
<ul>
    <li>Treadmill</li>
    <li>Lifting weights</li>
    <li>Yoga</li>
    <li>Zumba</li>
    
</ul>
<h3>Miscellaneous</h3>
<p>Because some things just don't fit into a category:</p>
<ul>
    <li>Table Tennis</li>
    <li>Ice skating</li>
    <li>Roller skating</li>
    <li>Laser tag</li>
</ul>

{% endblock %}
