{% extends "layout.html" %}

{% block title %}You should...{% endblock %}

{% block content %}

<h1>Stay at Home</h1>
<h2>Here are some options:</h2>

<h3>Entertainment</h3>
<p>Sit in front of the TV and do the following:</p>
<ul>
    <li>Watch a movie</li>
    <li>Go on Netflix</li>
    <li>Video Games</li>
    <li>Browse on Youtube</li>
</ul>
<h3>Arts and Craft/DIY</h3>
<p>If you're feeling a bit creative, here are some projects:</p>
<ul>
    <li>Melted Crayon Art</li>
    <li>Scrapbooking</li>
    <li>Tie-dye old shirts</li>
    <li>Create room decor</li>
    <li>Pumpkin carving</li>
</ul>
<h3>Quiet Time</h3>
<p>Relax in bed or on the couch and:</p>
<ul>
    <li>Read a book</li>
    <li>Take a nap</li>
    <li>Listen to music</li>
    <li>Put on a face mask</li>
</ul>


{% endblock %}
