{% extends "layout.html" %}

{% block title %}You should...{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='images/eat.png') }}" alt="Eat" width=620px height=200px;>
<h2>Here are some options:</h2>
<h3>Go to a restaurant</h3>
<ul>
    <li>Japanese</li>
    <li>Chinese</li>
    <li>Italian</li>
    <li>Mediterranean</li>
    <li>Mexican</li>
    <li>American</li>
</ul>
<h3>Cook some food</h3>
<ul>
    <li>Pasta</li>
    <li>Omelet</li>
    <li>Chicken</li>
    <li>Stir Fry</li>
    <li>Sandwich</li>
    <li>Cookies</li>
    <li>Brownies</li>
    <li>Cake</li>
</ul>
<h3>If you're up for a challenge:</h3>
<ul>
    <li>Chicken Cordon Bleu</li>
    <li>Casserole</li>
    <li>Lasagna</li>
    <li>Gnocchi</li>
    <li>Creme Brulee</li>
    <li>Macaroons</li>
</ul>

<input class="button" type="button" value="Back" onclick="history.back(-1)" />


{% endblock %}
