{% extends "layout.html" %}

{% block title %}You should...{% endblock %}

{% block content %}

<h1>Eat</h1>
<h2>Here are some options:</h2>
<h3>Go to a restaurant</h3>
<ul>
    <li>Japanese</li>
    <li>Chinese</li>
    <li>Italian</li>
    <li>Mediterranean</li>
    <li>Mexican</li>
    <li>American</li>
</ul>
<h3>Cook some food</h3>
<ul>
    <li>Pasta</li>
    <li>Omelet</li>
    <li>Chicken</li>
    <li>Stir Fry</li>
</ul>
<h3>If you're up for a challenge:</h3>
<ul>
    <li>Creme Brulee</li>
    <li>Macaroons</li>
</ul>


{% endblock %}
