{% extends "layout.html" %}

{% block title %}Sixth Question{% endblock %}

{% block content %}

<h1>Which of these character traits best applies to your group of friends?</h1>

<form method="post">
    <input type="radio" name="character traits" value="Adventurous">Adventurous
    <br>
    <input type="radio" name="character traits" value="Social">Social
    <br>
    <input type="radio" name="character traits" value="Calm">Calm
    <br>
    <input type="radio" name="character traits" value="Active">Active
    <br>
    <input type="radio" name="character traits" value="Crazy">Crazy
    <br>
    <input type="radio" name="character traits" value="Creative">Creative
    <br>
    <input type="radio" name="character traits" value="Child at Heart">Child at Heart
    <br>
    <input type="radio" name="character traits" value="Serious">Serious
    <br>
    <input type ="submit" value="Submit">
</form>

{% endblock %}
