{% extends "layout.html" %}

{% block title %}First Question{% endblock %}

{% block content %}

<h1>How many people are in your group?</h1>

<form method="post" action={{url_for("secondQuestion")}}>
    <input type="radio" name="number in group" value="1 Person" checked>1 Person
    <br>
    <input type="radio" name="number in group" value="2-6 People">2-6 People
    <br>
    <input type="radio" name="number in group" value="More than 6 People">More than 6 People
    <br>
    <br>
    <input type="button" value="Back" onclick="history.back(-1)" /> <input type ="submit" value="Next">
</form>

{% endblock %}
