{% extends "layout.html" %}

{% block title %}Sixth Question{% endblock %}

{% block content %}

<h1>Which of these best applies to you and/or your group of friends?</h1>

<form method="post" action={{url_for("results")}}>
    <input type="radio" name="character traits" value="Active" checked>Active
    <br>
    <input type="radio" name="character traits" value="Calm">Calm
    <br>
    <input type="radio" name="character traits" value="Foodie">Foodie
    <br>
    <input type="radio" name="character traits" value="Spontaneous">Spontaneous
    <br>
    <input type="radio" name="character traits" value="Creative">Creative
    <br>
    <input type="radio" name="character traits" value="Children at Heart">Children at Heart
    <br>
    <input type="radio" name="character traits" value="Competitive">Competitive
    <br>
    <input type="radio" name="character traits" value="Trendy">Trendy
    <br>
    <br>
    <input type="button" value="Back" onclick="history.back(-1)" /> <input type ="submit" value="Submit">
</form>

{% endblock %}
