{% extends "layout.html" %}

{% block title %}You should...{% endblock %}

{% block content %}

<h1>Stay at Home</h1>
<h2>Here are some options:</h2>
<h3>Board Games</h3>
<p>Gather around in a circle and take out some good ol' games to play:</p>
<ul>
    <li>Scrabble</li>
    <li>Monopoly</li>
    <li>Jenga</li>
    <li>Clue</li>
    <li>Resistance</li>
    <li>Sorry</li>
</ul>
<h3>Other Games</h3>
<p>Here are more games that involve more people:</p>
<ul>
    <li>Card Deck Games</li>
    <li>Sardines/Hide and Seek</li>
    <li>Cards Against Humanity (18+)</li>
    <li>Paranoia</li>
    <li>Telephone</li>
</ul>
<h3>Entertainment</h3>
<p>Sit in front of the TV with everyone and bond over the following:</p>
<ul>
    <li>Watch a movie</li>
    <li>Video Games</li>
    <li>Browse on Youtube</li>
</ul>
<h3>Arts and Craft/DIY</h3>
<p>If you're feeling a bit creative, here are some projects:</p>
<ul>
    <li>Melted Crayon Art</li>
    <li>Scrapbooking</li>
    <li>Tie-dye old shirts</li>
    <li>Create room decor</li>
    <li>Pumpkin carving</li>
</ul>

{% endblock %}
